body {
  background-color: #A3Bfa8;
  text-align: center;
  margin: 20%;
  padding: 10px;
  border: 2px solid #f6f1d1;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

li {
  /* display: inline-block;
  margin: 0 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 35%;
}

a {
  color: black;
}

button {
  background-color: #b392ac;
  color: azure;
}
